
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#titulo {
    font-size: 2em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.textov {
    line-height: 1.6;
    color: #555;
}

p {
    margin-bottom: 15px;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}