main{
    display: flex;
}
main form{
    width: 80%;
    max-width: 720px;
    margin: 0 auto 10vh auto;
    text-align: center;
    background-color: #2f4f4f;
    border-radius: 20px;
    padding: 3vh 5vw;
}
main form label{
    color: #f5f5dc;
}
main form input,textarea{
    width: 90%;
    background-color: #f5f5dc;
    border-radius: 5px;
    border: none;
    margin: 1vh 0 2vh 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 1vh 1vw;
    color: #2f4f4f;
}
main form button{
    background-color: #2f4f4f;
    color: #f5f5dc;
    font-family: inherit;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 1vh auto;
}
main form button:first-of-type{
    background-color: #f5f5dc;
    color: #2f4f4f;
    border: #2f4f4f solid;
}
main form button:first-of-type:hover{
    border: #f5f5dc solid;
}
main form button:hover{
    background-color: #f5f5dc;
    color: #2f4f4f;
}

.etiqueta-sugerencia {
  color: red;
  margin-top: 5px; /* Ajusta según sea necesario */
  visibility: hidden; /* Oculta el mensaje inicialmente */
}

.campo-error {
  border: 1px solid red;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}
button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}
/* Estilo para el contenedor principal */
.btn-group {
  display: inline-block;
  position: relative; /* Añadido para alinear correctamente el menú desplegable */
}

/* Estilo para el botón principal */
.btn-secondary {
  background-color: #ccc;
  color: #fff;
  border: 1px solid #00ffb3;
  margin-right: 0; /* Reducción del margen derecho */
}

/* Estilo para el menú desplegable */
.dropdown-menu {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: calc(100% + 5px); /* Ajuste para reducir la separación vertical */
  right: 0;
  margin-top: 0; /* Eliminación del margen superior */
}

/* Mostrar el menú desplegable al pasar el ratón sobre el botón */
.btn-group:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

/* Estilo para los elementos del menú desplegable */
.dropdown-item {
  padding: 10px;
  color: #333;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Estilo para resaltar el elemento seleccionado */
.dropdown-item:hover {
  background-color: #47a386;
  color: #fff;
}

